{% extends "base.html" %}
{% load static %}
{% block content %}
    <div>
        <h2>Ingredients / Stock</h2>
        <a href="{% url 'add_ingredient' %}"><button>ADD INGREDIENT</button></a>           
    </div>

    <div>
        <table>
            <thead>
                <tr>
                    <th>Ingredients</th>
                    <th>Quantity</th>
                    <th>Unit</th>
                    <th>Price/unit</th>
                    <th>Delete</th>                           
                </tr>
            </thead>
            <tbody>
            {% for item in object_list %}
                <tr>
                    <td><a class="ing_links" href="{% url "update_ingredient" item.id %}">{{ item.name }}</a></td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.unit }}</td>
                    <td>${{ item.unit_price }}</td>
                    <td class="del_btn"><a href="{% url 'delete_ingredient' item.id %}"><button>X</button></a>              
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>    
{% endblock %}