{% extends "base.html" %}
{% load static %}
{% block content %}
    <div>
        <h2>Menu</h2>
        <a href="{% url 'add_dish' %}"><button>ADD DISH</button></a>
        <a href="{% url 'add_purchase' %}"><button>NEW PURCHASE</button></a>
        <a href="{% url 'purchases' %}"><button>PURCHASE REPORT</button></a>
    </div>

    <div>
        <table>
            <thead>
                <tr>
                    <th>Django Delights Amazing Dishes</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>    
            {% for item in object_list %}               
                <tr>
                    <td>{{ item.title }}</td>
                    <td>${{ item.price }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}