{% extends "base.html" %}

{% block content %}
    <div>
        <h2>Purchases</h2>
        <a href="{% url 'revenue' %}"><button>REVENUE</button></a>
    </div>

    <hr/>

    <div>
        <table>
            <tr>
                <th>Time</th>
                <th>Menu Item</th>
                <th>Price</th>
            </tr>
            <tr>
            {% for item in object_list %}
            </tr>
            <tr>
                <td>{{ item.timestamp }}</td>
                <td>{{ item.menu_item.title }}</td>
                <td>${{ item.menu_item.price }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}
